COMPARTMENT_ID='ocid1.tenancy.oc1..<replace-me>'
SUBNET_ID='ocid1.subnet.oc1..<replace-me>'
IMAGE_ID='ocid1.image.oc1..<replace-me>'
SSH_AUTHORIZED_KEYS_FILE='/home/ubuntu/.ssh/authorized_keys'
DISPLAY_NAME='oraclelinux-a1-4c24g'
SHAPE='VM.Standard.A1.Flex'
OCPUS='4'
MEMORY_IN_GBS='24'
BOOT_VOLUME_SIZE_GBS='150'
BOOT_VOLUME_VPUS_PER_GB='120'
ASSIGN_PUBLIC_IP='true'
RETRY_MIN_SECONDS='50'
RETRY_MAX_SECONDS='70'
INTER_AD_MIN_SECONDS='3'
INTER_AD_MAX_SECONDS='7'
OCI_CLI='/home/ubuntu/bin/oci'
OCI_CLI_PROFILE='DEFAULT'
SUCCESS_SENTINEL='/home/ubuntu/oci-runner/log/a1-success.json'
DISCORD_API_BASE='https://discord.com/api/v10'
DISCORD_BOT_TOKEN='<replace-me>'
DISCORD_CHANNEL_ID='<replace-me>'
